Source: pt3dvb-dkms
Section: kernel
Priority: optional
Maintainer: soburi <soburi@gmail.com>
Build-Depends: debhelper (>= 9.0.0), dkms
Standards-Version: 3.9.5
Homepage: http://github.com/soburi/pt3dvb-dkms.git
#Vcs-Git: git://git.debian.org/collab-maint/pt3dvb-dkms.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pt3dvb-dkms.git;a=summary

Package: pt3dvb-dkms
Architecture: all
Depends: ${misc:Depends}, linux-source
Description: dkms module source for EarthSoft PT3 device.
 EarthSoft PT3 is ISDB-T/S receiver board.
